---
export const prerender = true;
import Base from "~/layouts/Base.astro";
---

<Base title="Not Found" description="Not Found">
  <header class="center">
    <div class="block">
      <h1>Not Found</h1>
      <p>Unfortunately, I can't find what you are looking for.</p>
    </div>
  </header>
</Base>

<style is:global>
  body {
    font-family: "Courier New", Courier, monospace;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  header {
    margin-top: 2em;
  }
  .block {
    display: block;
  }
</style>

<script>
  const res = document.location.pathname.match(/^\/garden\/(.*)$/);
  if (res) {
    const name = res[1].replace("-", " ");
    const message = `<h1>Not Complete</h1><p>Sorry, "${name}" is an empty link in my digital garden.</p>`;
    for (const el of document.getElementsByClassName("block"))
      el.innerHTML = message;
  }
</script>
