---
import PlainText from "../layouts/PlainText.astro";
---

<style is:global>
  body {
    font: 20px mono;
    max-width: 70ch;
    margin: auto;
    padding: 3em;
  }
  a {
    color: #88f;
  }
</style>

<PlainText>
  <main>
    <h1>hello traveler</h1>
  </main>
</PlainText>
