---
export const prerender = true;

import BookmarkCard from "~/components/BookmarkCard.astro";
import Base from "~/layouts/Base.astro";
import Nav from "~/components/Nav.astro";
import bookmarks from "~/bookmarks.yml";
import type { Bookmark } from "~/types";
---

<Base
  title="Bookmarks"
  description="Harry Brown's bookmarks and interesting sites."
>
  <main>
    <header>
      <Nav
        pages={[
          { href: "/", name: "home" },
          { href: "/about/", name: "about" },
          { href: "/blog/", name: "blog" },
          { href: "/bookmarks/", name: "bookmarks" },
        ]}
      />
    </header>
    <h2>Bookmarks</h2>
    <section>
      <div id="bookmarks" class="bookmarks">
        {
          bookmarks.links.map((b: Bookmark) => (
            <BookmarkCard
              href={b.url}
              name={b.name}
              description={b.description}
              tags={b.tags}
            />
          ))
        }
      </div>
    </section>
  </main>
</Base>

<style is:global>
  header {
    font-size: 16px !important;
  }
  main {
    max-width: 1000px !important;
    font-size: 18px !important;
  }

  nav ul {
    list-style: none;
  }

  @media only screen and (min-width: 800px) {
    .bookmarks {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
  }
</style>
