<div class="webring">
  <div class="webring-links">
    <a
      href="https://hotlinewebring.club/hrry/previous"
      referrerpolicy="strict-origin-when-cross-origin"
      class="webring-prev"
    >
      &larr;
    </a>
    <a href="https://hotlinewebring.club/"
      ><p class="rainbow-text">hotline webring</p>
    </a>
    <a
      href="https://hotlinewebring.club/hrry/next"
      referrerpolicy="strict-origin-when-cross-origin"
      class="webring-next"
    >
      &rarr;
    </a>
  </div>
</div>

<style>
  .webring {
    padding-top: 1em;
    padding-bottom: 0.75em;
    margin: 0 auto;
  }
  .webring-links {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .webring-links p {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .webring-links .webring-prev {
    background-position: center left;
  }
  .webring-links .webring-prev {
    background-position: center right;
  }

  .rainbow-text {
    background-image: linear-gradient(
      to left,
      violet,
      indigo,
      /* blue, */ cyan,
      green,
      yellow,
      orange,
      red
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
