---
import type { HTMLAttributes } from "~/lib/html";

interface Page {
    name: string;
    href: string;
}

export interface Props extends HTMLAttributes {
  pages: Array<Page>;
}
const { pages, id, class: className, title } = Astro.props;

const totitle = (s: string): string => {
  return s[0].toUpperCase() + s.slice(1, s.length);
};
---

<nav id={id} title={title} class:list={[className]}>
  <ul>
    {
      pages.map((p: Page) => (
        <li>
          <a href={p.href}>{totitle(p.name)}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    display: flex;
  }
  ul {
    list-style: none;
  }
  li {
    float: left;
    padding-right: 0.8em;
  }
  a:visited {
    text-decoration: none;
  }
</style>
