---
export interface Props {
  title: string;
  id?: string;
  className?: string;
  modalID?: string;
}
const { title, id, className, modalID } = Astro.props;
---

<win95-window
  class={`win95-window ${className || ""}`}
  id={id}
  data-modal={modalID}
>
  <header class="win95-window-head">
    <p>{title}</p>
    <button class="win95-close">&#x2715;</button>
    <button class="win95-minimize">&#95;</button>
  </header>
  <section class="win95-window-body">
    <slot />
  </section>
</win95-window>

<script>
  import type { Modal } from "~/lib/modal";

  class Win95 extends HTMLElement {
    constructor() {
      super();
      const modalID = this.dataset.modal;
      if (modalID) {
        const modal = document.getElementById(modalID) as Modal | null;
        if (!modal) throw new Error("no modal");
        this.querySelectorAll("button").forEach((btn) =>
          btn.addEventListener("click", () => modal.toggle())
        );
      }
    }
  }
  customElements.define("win95-window", Win95);
</script>

<style>
  win95-window {
    background-color: #c0c0c0;
    border-width: 0.15em;
    border-color: #d8d8d8 #7a7a7a #7a7a7a #d8d8d8;
    border-style: solid;
    position: fixed;
    color: black;
  }

  header {
    background-color: #000080;
    padding-left: 5px;
    width: calc(100% - 5px); /* Subtract the padding size */
    height: 18px;
    margin: 0px;
  }

  header :global(p) {
    color: white;
    float: left;
    margin: 0;
    display: block;
    font-size: 0.7em;
  }

  header button {
    float: right;
    text-align: center;
    border-color: #d8d8d8 #7a7a7a #7a7a7a #d8d8d8;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding: 0;
    width: 14px;
    height: 14px;
    border-width: 1px;
    font-size: 0.5em;
    font-weight: bold;
  }
</style>
