---
import Base from "./Base.astro";
import Nav from "~/components/Nav.astro";
import Neko from "~/components/Neko.astro";

const { title, description } = Astro.props.frontmatter;
---

<Base
  title={title}
  description={description}
>
  <Neko />
  <main>
    <header>
      <Nav
        pages={[
          { href: "/", name: "home" },
          { href: "/about/", name: "about" },
          { href: "/blog/", name: "blog" },
        ]}
      />
    </header>
    <slot />
  </main>
</Base>
