---
import path from "~/lib/path";
import Base from "~/layouts/Base.astro";
import Nav from "~/components/Nav.astro";
import BlogPosts from "~/components/BlogPosts";
import { SITE_TITLE } from "~/config";

import { getCollection } from "astro:content";

export interface Props {
  blog: boolean;
  subTitle: string;
  description: string;
}

const { subTitle, blog, description } = Astro.props;

const allPosts = await getCollection(blog ? "blog" : "garden");
// TODO Build a search index for content and tags
const posts = allPosts
  .map((p) => {
    return {
      url: path.join(Astro.url.pathname, p.slug),
      entry: p,
    };
  })
  .filter((post) => !post.entry.data.draft);

posts.sort((a, b) => {
  if (!a.entry.data.pubDate || !b.entry.data.pubDate) return 0;
  return b.entry.data.pubDate.getTime() - a.entry.data.pubDate.getTime();
});

const title = `${SITE_TITLE} | ${subTitle}`;
const props = { title, description };
---

<Base {...props}>
  <main>
    <header>
      <Nav
        pages={[
          { href: "/", name: "home" },
          { href: "/about/", name: "about" },
          { href: "/blog/", name: "blog" },
        ]}
      />
      <h1>{subTitle}</h1>
    </header>
    <section>
      <BlogPosts posts={posts} />
    </section>
  </main>
</Base>

<style is:global>
  td {
    padding-right: 1em;
  }
  time {
    white-space: nowrap;
  }
  html {
    width: 100vw;
  }
</style>
